name: Publish Deployment Engine Image
run-name: "(Deployment Engine) Publish Image - Tag: ${{ github.event.client_payload.tag }}"

on:
  workflow_dispatch:
    inputs:
      src_image:
        description: 'Source image in ACR (e.g. myregistry.azurecr.io/deployment-engine)'
        required: true
        default: 'myregistry.azurecr.io/deployment-engine'
      dest_image:
        description: 'Destination image in GHCR (e.g. ghcr.io/myorg/deployment-engine)'
        required: true
        default: 'ghcr.io/myorg/deployment-engine'
      tag:
        description: 'Tag for the image (e.g. v1.0.0)'
        required: true
        default: 'v1.0.0'
  repository_dispatch:
    types: [deployment-engine.publish]

permissions: {}

# variables from GitHub organization
  # ${{ vars.ACR_NAME }}

# secrets from GitHub organization
  # ${{ secrets.GH_APP_ID }}
  # ${{ secrets.GH_APP_PRIVATE_KEY }}
  # ${{ secrets.ACR_AZURE_CLIENT_ID }}
  # ${{ secrets.ACR_AZURE_TENANT_ID }}
  # ${{ secrets.ACR_AZURE_SUBSCRIPTION_ID }}

jobs:
  publish-image:
    runs-on: ubuntu-latest
    environment:
      name: publish-de-image
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4

      - name: Capture payload
        id: payload
        shell: bash
        env:
          SRC_IMAGE: ${{ github.event.client_payload.src_image || '' }}
          DEST_IMAGE: ${{ github.event.client_payload.dest_image || '' }}
          TAG: ${{ github.event.client_payload.tag || '' }}
        run: |
          {
            echo "src_image=${SRC_IMAGE}"
            echo "dest_image=${DEST_IMAGE}"
            echo "tag=${TAG}"
          } >> "$GITHUB_OUTPUT"

      - name: Copy Deployment Engine image
        uses: ./.github/actions/copy-deployment-engine-image
        env:
          ACR_AZURE_CLIENT_ID: ${{ secrets.ACR_AZURE_CLIENT_ID }}
          ACR_AZURE_TENANT_ID: ${{ secrets.ACR_AZURE_TENANT_ID }}
          ACR_AZURE_SUBSCRIPTION_ID: ${{ secrets.ACR_AZURE_SUBSCRIPTION_ID }}
        with:
          # In the real world, need GitHub PAT to push to GHCR.
          # https://docs.github.com/en/packages/learn-github-packages/about-permissions-for-github-packages#about-scopes-and-permissions-for-package-registries
          tag: ${{ steps.payload.outputs.tag }}
          src_image: ${{ steps.payload.outputs.src_image }}
          dest_image: ${{ steps.payload.outputs.dest_image }}
