name: Publish Deployment Engine Image
run-name: "(Deployment Engine) Publish Image - Tag: ${{ github.event.client_payload.tag }}"

on:
  workflow_dispatch:
  repository_dispatch:
    types: [deployment-engine.publish]

permissions:
  contents: read
  packages: write
  id-token: write

# variables from GitHub organization
  # ${{ vars.ACR_NAME }}

# secrets from GitHub organization
  # ${{ secrets.GH_APP_ID }}
  # ${{ secrets.GH_APP_PRIVATE_KEY }}
  # ${{ secrets.ACR_AZURE_CLIENT_ID }}
  # ${{ secrets.ACR_AZURE_TENANT_ID }}
  # ${{ secrets.ACR_AZURE_SUBSCRIPTION_ID }}

jobs:
  publish-image:
    runs-on: ubuntu-latest
    environment:
      name: publish-de-image

    steps:
      - uses: actions/checkout@v4

      - name: Capture payload
        id: payload
        shell: bash
        env:
          SRC_IMAGE: ${{ github.event.client_payload.src_image || '' }}
          DEST_IMAGE: ${{ github.event.client_payload.dest_image || '' }}
          TAG: ${{ github.event.client_payload.tag || '' }}
        run: |
          echo "::set-output name=src_image::${SRC_IMAGE}"
          echo "::set-output name=dest_image::${DEST_IMAGE}"
          echo "::set-output name=tag::${TAG}"

      - name: Get GitHub App token
        id: app-token
        uses: actions/create-github-app-token@v1
        with:
          app-id: ${{ secrets.GH_APP_ID }}
          private-key: ${{ secrets.GH_APP_PRIVATE_KEY }}
          owner: ${{ github.repository_owner }}
          repository: ${{ github.event.repository.name }}
          permissions: 'packages:write,contents:read'

      - name: Copy Deployment Engine image
        uses: ./.github/actions/copy-deployment-engine-image
        env:
          ACR_AZURE_CLIENT_ID: ${{ secrets.ACR_AZURE_CLIENT_ID }}
          ACR_AZURE_TENANT_ID: ${{ secrets.ACR_AZURE_TENANT_ID }}
          ACR_AZURE_SUBSCRIPTION_ID: ${{ secrets.ACR_AZURE_SUBSCRIPTION_ID }}
          GHCR_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          # https://docs.github.com/en/packages/learn-github-packages/about-permissions-for-github-packages#about-scopes-and-permissions-for-package-registries
          tag: ${{ steps.payload.outputs.tag }}
          src_image: ${{ steps.payload.outputs.src_image }}
          dest_image: ${{ steps.payload.outputs.dest_image }}
