name: Run Functional Tests
run-name: "(Deployment Engine) Radius Functional Tests - Tag: ${{ github.event.client_payload.tag }}"

on:
  repository_dispatch:
    types:
      - deployment-engine.run-functional-tests

permissions:
  contents: read
  packages: read

jobs:
  functional-tests:
    name: Simulate functional tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Capture payload
        id: payload
        shell: bash
        env:
          IMAGE_NAME: ${{ github.event.client_payload.image_name || '' }}
          TAG: ${{ github.event.client_payload.tag || '' }}
        run: |
          echo "::set-output name=image-name::${IMAGE_NAME}"
          echo "::set-output name=tag::${TAG}"

      - name: Simulate functional test run
        run: |
          echo: "Functional tests executed successfully."
